body {
    background-color: #3776BB;
    color: #FFFFFF;
}

.logo {
    width: 400px;
}

.thank-you {
    margin: 20px;
}

.donations {
    margin-top: 10px;
    
}

.facebook-link a {
    color: #FFFFFF;
}

.instagram-link {
    margin-top: 10px;
}

.instagram-link a {
    color: #FFFFFF;
}